doctype html
html(lang="en")
    head
        link(rel='stylesheet',href='../_main_style.sass')
        link(rel='stylesheet',href='../issues.sass')
    body()
        div.issue
            h1
                =404

